#svg-container {
	overflow: hidden;
	display: grid;
	grid-template-columns: 10px auto 10px;
	grid-template-areas: ". svg-container .";
	height: 100vh;
	

	@include md{
		grid-template-columns: auto 85% auto;
	}

	@include lg{
		grid-template-columns: auto 60% auto;
	}

	// @include xl{
	// 	grid-template-columns: auto 70% auto;
	// }
	>div {
		display: flex;
		align-items: center;
		
		grid-area: svg-container;

		svg{
			width: 100%;

			#finger-circle {
				// visibility:hidden;
				// margin-left: 200px;
			}
		}
	}


	// display: grid;
	// grid-template-columns: auto 80% auto;
	// grid-template-areas: ". svg-container .";
	// height: 100vh;
	

	// @include md{
	// 	grid-template-columns: auto 70% auto;
	// }

	// @include lg{
	// 	grid-template-columns: auto 60% auto;
	// }

    // >div{
    //     position: relative;
    //     height: 100vh;
    //     // border: 1px solid red;

    //         grid-area: svg-container;
        
	// 		svg {
	// 			height: 100%;
	// 			width: 100%;
	// 		}
    // }


}